.advantages {
  background-color: $grey;
  padding-top: 115px;
  padding-bottom: 116px;
  color: $main-blue;

  h2 {
    font-family: $ff-bebas;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 1.7px;
    text-align: center;
    width: fit-content;
    max-width: 550px;
    margin: 0 auto 73px;
  }
}

.advantages__wrapper {
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "a b c"
    "d b e";
  gap: 0 60px;
  padding-left: 164px;
  padding-right: 164px;
}

.advantages__block {
  display: flex;

  div:first-child {
    display: flex;
    flex-direction: column;

    span:first-child {
      font-family: $ff-bold;
      font-size: 71px;
      line-height: 55px;
      color: transparent;
      background-clip: text;
      background-image: $gradient;
      margin: 0 30px 1px 0;
    }

    span:last-child {
      font-family: $ff-regular;
      font-size: 14px;
      line-height: 21px;
      color: #2e35ac;
    }
  }

  h3 {
    font-family: $ff-bold;
    font-size: 22px;
    line-height: 20px;
    margin: 0 0 12px;
  }

  p {
    font-family: $ff-ligth;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }

  &--top-left {
    grid-area: a;
    border-bottom: 2px solid rgba(209, 10, 66, 0.2);
    padding-left: 25px;
  }

  &--top-right {
    grid-area: c;
    border-bottom: 2px solid rgba(209, 10, 66, 0.2);
    padding-right: 5px;
  }

  &--bottom-left {
    grid-area: d;
    align-items: end;
    padding-left: 19px;
  }

  &--bottom-right {
    grid-area: e;
    align-items: end;
    padding-right: 5px;
  }
}

.advantages__center {
  padding: 54px 34px 62px;
  grid-area: b;
  color: $white;
  background-color: $review-blue;
  text-align: center;

  span {
    display: block;
    font-family: $ff-bold;
    font-size: 74px;
    line-height: 74px;
    margin-bottom: 8px;
  }

  h3 {
    font-family: $ff-bold;
    font-size: 26px;
    line-height: 26px;
    margin: 0 0 39px;
  }

  p {
    font-family: $ff-regular;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
}

@include vp-1200 {
  .advantages {
    padding-top: 96px;
    padding-bottom: 94px;

    h2 {
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 50px;
    }
  }

  .advantages__wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "a c"
      "b b"
      "d e";
    gap: 44px 30px;
  }

  .advantages__block {
    padding: 0;

    &--top-left {
      border: none;
    }

    &--top-right {
      border: none;
    }

    div:first-child {
      span:first-child {
        font-size: 58px;
        line-height: 50px;
        margin: 0 30px 0 0;
      }
    }

    h3 {
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 6px;
    }
  }

  .advantages__center {
    width: calc(100% - 236px);
    min-height: 239px;
    margin: 0 auto 2px;
    padding: 45px 126px 30px;

    span {
      line-height: 50px;
      transform: translateX(-3px);
      margin-bottom: 11px;
    }

    h3 {
      font-size: 22px;
      line-height: 33px;
      margin-bottom: 14px;
    }

    p {
      margin: 0;
    }
  }
}

@include vp-768 {
  .advantages {
    padding-top: 70px;
    padding-bottom: 64px;

    h2 {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 1.2px;
      margin-bottom: 49px;
    }
  }

  .advantages__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
  }

  .advantages__block {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
    padding: 0 46px;

    &:not(:last-child) {
      margin-bottom: 39px;
    }

    div:first-child {
      margin-bottom: 10px;

      span:first-child {
        margin: 0;
      }
    }
  }

  .advantages__center {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 45px;
    padding: 50px 74px 43px;

    span {
      margin-bottom: 6px;
    }

    h3 {
      margin-bottom: 9px;
    }
  }
}
