.bottom {
  position: relative;
  background: linear-gradient(to right, $main-blue 50%, $white 50%);

  h2 {
    font-family: $ff-bebas;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 3px;
    margin: 0 0 57px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    height: 1px;
    background-color: #74819c;
  }
}

.bottom__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@include vp-1200 {
  .bottom {
    background: none;

    &::before {
      display: none;
    }
  }

  .bottom__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

@include vp-768 {
  .bottom__wrapper {
    padding: 0;
  }
}

