.coaches {
  padding-bottom: 120px;


  h2 {
    font-family: $ff-bebas;
    font-size: 49px;
    color: $main-blue;
    letter-spacing: 2.2px;
    line-height: 49px;
    margin: 0 0 55px;
  }
}

.coaches__slider-wrapper {
  position: relative;
}

.coaches__slider {
  height: 294px;
  width: 100%;
}

.coaches__slider-line {
  display: flex;
  align-items: center;

  div {
    height: 100%;

    img {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
    }
  }
}

.coaches__slider-button {
  position: absolute;
  cursor: pointer;
  top: 22px;
  width: 30px;
  height: 100%;

  &::after {
    content: "";
    background: no-repeat center url("../img/arrow.svg");
    width: 100%;
    height: 100%;
  }

  &--prev {
    background-position: left;
    left: -50px;
  }

  &--next {
    background-position: right;
    right: -50px;

    &::after {
      transform: scale(-1, 1);
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.coaches__slide {
  position: relative;
  background-color: rgba(16, 38, 84, 0.89);

  h3 {
    display: block;
    position: absolute;
    font-family: $ff-bold;
    font-size: 18px;
    line-height: 27px;
    color: $white;
    bottom: 6px;
    width: 100%;
    text-align: center;
    padding: 15px;
    margin: 0;
    z-index: 2;
  }

  .coaches__info {
    display: none;
    position: absolute;
    color: $white;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 75px 20px 55px;
    background-color: rgba(16, 38, 84, 0.89);
    z-index: 1;

    p {
      display: block;
      text-align: center;
      font-family: $ff-regular;
      font-size: 16px;
      line-height: 24px;
      margin: 0 0 33px;
    }

    ul {
      height: 120px;
      width: 100%;
      margin: 0;
      padding: 0 10px 0 50px;
      overflow-y: auto;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        font-family: $ff-regular;
        font-size: 14px;
        line-height: 21px;

        &:not(:last-child) {
          margin-bottom: 13px;
        }
      }
    }
  }

  &:hover,
  &:focus {
    .coaches__info {
      display: block;
    }

    h3 {
      top: 38px;
      bottom: initial;
    }
  }
}

@include vp-1200 {
  .coaches {
    padding-bottom: 100px;

    h2 {
      text-align: center;
      font-size: 42px;
      line-height: 38px;
      letter-spacing: 2px;
      margin-bottom: 45px;
    }
  }

  .coaches__slider-wrapper {
    padding: 0 55px;
  }

  .coaches__slider-button {
    width: 50px;

    &::after {
      content: "";
      background: no-repeat center url("../img/arrow.svg");
      width: 100%;
      height: 100%;
    }

    &--prev {
      left: -15px;
    }

    &--next {
      right: -15px;
    }
  }
}

@include vp-768 {
  .coaches__slider-wrapper {
    padding: 0 32px;
  }

  .coaches__slider {
    height: 274px;
  }

  .coaches__slider-button {
    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }
}
