.coaches {
  padding-bottom: 120px;


  h2 {
    font-family: $ff-bebas;
    font-size: 49px;
    color: $main-blue;
    letter-spacing: 1px;
    line-height: 49px;
    margin: 0 0 60px;
  }
}

.coaches__slider-wrapper {
  position: relative;
}

.coaches__slider {
  height: 292px;
  width: 100%;
}

.coaches__slider-line {
  display: flex;
  align-items: center;
  outline: 1px solid red;
  outline-offset: -1px;

  div {
    height: 100%;

    img {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
    }
  }
}

.coaches__slider-button {
  position: absolute;
  cursor: pointer;
  top: 22px;
  width: 50px;
  height: 100%;

  &::after {
    content: "";
    background: no-repeat center url('../img/arrow.svg');
    width: 100%;
    height: 100%;
  }

  &--prev {
    transform: translateX(-70px);
  }

  &--next {
    transform: translateX(70px);

    &::after {
      transform: scale(-1, 1);
    }
  }
}

.coaches__slide {
  position: relative;
  background-color: rgba(16, 38, 84, 0.89);

  h3 {
    display: block;
    position: absolute;
    font-family: $ff-bold;
    font-size: 18px;
    line-height: 27px;
    color: $white;
    bottom: 5px;
    width: 100%;
    text-align: center;
    padding: 15px;
    margin: 0;
    z-index: 2;
  }

  .coaches__info {
    display: none;
    position: absolute;
    color: $white;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: rgba(16, 38, 84, 0.89);
    overflow: scroll;
    scrollbar-width: 0;
    z-index: 1;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &:hover,
  &:focus {
    .coaches__info {
      display: block;
    }
  }
}
