.discounts {
  padding-top: 115px;
  padding-bottom: 120px;

  h2 {
    font-family: $ff-bebas;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 1.7px;
    text-align: center;
    width: fit-content;
    max-width: 550px;
    margin: 0 auto 55px;
    color: $main-blue;
  }

  h3 {
    font-family: $ff-bold;
  }

  p {
    font-family: $ff-regular;
    margin: 0 0 auto;
  }

  a {
    width: fit-content;
    font-family: $ff-bold;
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding: 15px 0 2px;
    letter-spacing: 0.5px;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.discounts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px 38px;
  color: $main-blue;
}

.discounts__unlimited {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: -1;
  color: $white;
}

.discounts__unlimited-info {
  display: flex;
  flex-direction: column;
  background-color: $coral;
  padding: 45px;

  span {
    font-family: $ff-bold;
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 28px;
    line-height: 23px;
    margin: 0 0 4px;
  }

  p {
    font-size: 18px;
    line-height: 24px;
  }

  a {
    font-size: 14px;
    line-height: 13px;
    color: $white;
    border-color: $white;
  }
}

.discounts__unlimited-image {
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.discounts__block {
  display: flex;
  flex-direction: column;
  min-height: 211px;
  padding: 23px 30px 27px;
  border: 7px solid transparent;
  border-image: $gradient;
  border-image-slice: 1;

  h3 {
    font-size: 26px;
    margin: 0 0 9px;
  }

  p {
    font-size: 16px;
  }

  a {
    font-size: 12px;
    color: $main-blue;
    border-color: $main-blue;
  }
}

@include vp-1200 {
  .discounts {
    padding-top: 97px;
    padding-bottom: 100px;

    h2 {
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 43px;
    }
  }

  .discounts__wrapper {
    grid-template-rows: auto auto;
    gap: 30px;
  }

  .discounts__unlimited {
    grid-template-columns: 41% 59%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .discounts__unlimited-info {
    padding: 45px 40px 45px 45px;
  }

  .discounts__unlimited-image {
    position: relative;
    padding-bottom: calc(115% + 1px);

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .discounts__block {
    min-height: 210px;
    padding: 23px 28px 27px;

    h3 {
      margin-bottom: 8px;
    }

    p {
      line-height: 22px;
    }

    a {
      padding-bottom: 0;
    }
  }
}

@include vp-768 {
  .discounts {
    padding-top: 67px;
    padding-bottom: 67px;

    h2 {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 1.2px;
      margin-bottom: 45px;
    }

    a {
      margin: 0 auto;
    }
  }

  .discounts__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .discounts__unlimited {
    display: flex;
    flex-direction: column;
  }

  .discounts__unlimited-info {
    min-height: 299px;
    padding: 44px 40px 45px 41px;

    span {
      margin-bottom: 16px;
    }
  }

  .discounts__unlimited-image {
    padding-bottom: 103%;

    img {
      transform: none;
    }
  }

  .discounts__block {
    min-height: 211px;
    padding: 34px 28px 39px;
  }
}
