.discounts {
  padding-top: 120px;
  padding-bottom: 120px;

  h2 {
    font-family: $ff-bebas;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 3px;
    text-align: center;
    width: fit-content;
    max-width: 550px;
    margin: 0 auto 80px;
    color: $main-blue;
  }

  h3 {
    font-family: $ff-bold;
  }

  p {
    font-family: $ff-regular;
    margin: 0 0 auto;
  }

  a {
    width: fit-content;
    font-family: $ff-bold;
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding: 2px 0;
  }
}

.discounts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 36px;
  color: $main-blue;
}

.discount__unlimited {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: -1;
  color: $white;
}

.discount__unlimited-info {
  display: flex;
  flex-direction: column;
  background-color: $coral;
  padding: 45px;

  span {
    font-family: $ff-bold;
    font-size: 70px;
    line-height: 70px;
  }

  h3 {
    font-size: 28px;
    line-height: 28px;
    margin: 0;
  }

  p {
    font-size: 18px;
  }

  a {
    color: $white;
    border-color: $white;
  }
}

.discount__unlimited-image {
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1.5) translate(25px, -45px);
  }
}

.discount__block {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 7px solid transparent;
  border-image: $gradient;
  border-image-slice: 1;

  h3 {
    font-size: 26px;
    margin: 0;
  }

  p {
    font-size: 16px;
  }

  a {
    font-size: 12px;
    color: $main-blue;
    border-color: $main-blue;
  }
}

@include vp-1200 {
  .discounts {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .discounts__wrapper {
    grid-template-rows: auto auto;
  }

  .discount__unlimited {
    grid-template-columns: 2fr 3fr;
    min-height: 462px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .discount__unlimited-image {
    max-height: 462px;

    img {
      transform: scale(1.2) translate(34px, -39px);
    }
  }

  .discount__block {
    min-height: 210px;
  }
}

@include vp-768 {
  .discounts {
    padding-top: 70px;
    padding-bottom: 70px;

    a {
      margin: 0 auto;
    }
  }

  .discounts__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .discount__unlimited {
    display: flex;
    flex-direction: column;
  }

  .discount__unlimited-info {
    min-height: 299px;
  }

  .discount__unlimited-image {
    height: 299px;

    img {
      transform: none;
    }
  }
}
