.promo__wrapper {
  display: flex;
  width: 100%;
  padding: 120px 0 114px;
}

.promo__text {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  color: $white;
  background-color: $coral;
  padding: 82px 79px 86px;
  width: fit-content;
}

.promo__top {
  display: flex;
  margin-bottom: 10px;

  h2 {
    font-family: $ff-bebas-bold;
    letter-spacing: 2.5px;
    font-size: 90px;
    line-height: 90px;
    width: min-content;
    margin: 0 50px 0 0;
  }
}

.promo__info {
  margin-top: 2px;

  h3 {
    display: block;
    font-family: $ff-regular;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
  }

  span {
    font-family: $ff-bold;
    font-size: 40px;
    line-height: 50px;
  }

  p {
    font-family: $ff-regular;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
  }
}

.promo__date {
  margin-bottom: 17px;

  h3 {
    margin: 0 0 6px;
  }

  span {
    margin-right: 7px;
  }

  div {
    display: flex;
    align-items: center;
    width: min-content;
    border-top: 1px solid $white;
  }
}

.promo__time {
  h3 {
    margin: 0 0 5px;
  }

  span {
    border-top: 1px solid $white;
  }
}

.promo__bottom {
  p {
    display: block;
    font-family: $ff-regular;
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 45px;
  }

  a {
    display: block;
    font-size: 12px;
    font-family: $ff-bold;
    line-height: 12px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    padding: 25px;
    border: 4px solid $white;

    &:hover {
      color: $blue;
      background-color: $white;
      border-image: $button-gradient;
      border-image-slice: 1;
    }

    &:focus {
      color: $blue;
      background-color: $white;
      border-image: $button-gradient;
      border-image-slice: 1;
    }
  }
}

.promo__image {
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


@include vp-1200 {
  .promo__wrapper {
    padding: 99px 0;
    max-width: 940px;
    margin: 0 auto;
  }

  .promo__text {
    max-width: 292px;
    padding: 49px 45px 45px;

    h2 {
      font-size: 52px;
      line-height: 52px;
      letter-spacing: 1.5px;
      margin-right: 30px;
    }

    .promo__top {
      margin-bottom: 0;
    }

    .promo__info {
      h3 {
        font-size: 12px;
      }

      span {
        font-size: 24px;
        line-height: 30px;
        margin-right: 4px;
      }

      p {
        font-size: 10px;
        line-height: 10px;
      }
    }

    .promo__date {
      margin-bottom: 6px;

      h3 {
        margin-bottom: 2px;
      }
    }

    .promo__time {
      h3 {
        margin-bottom: 4px;
      }

      span {
        line-height: 27px;
      }
    }

    .promo__bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 30px;
      }

      a {
        letter-spacing: 0.6px;
        font-size: 10px;
        border-width: 2px;
        padding: 13px 15px 12px;
        margin-bottom: 5px;
      }
    }
  }
}

@include vp-768 {
  .promo__wrapper {
    padding: 44px 0;
    flex-direction: column;
  }

  .promo__text {
    padding: 48px 44px 45px;
    width: 100%;
    max-width: 100%;
  }

  .promo__image {
    min-height: 292px;

    img {
      min-height: 292px;
    }
  }
}
