.promo__wrapper {
  display: flex;
  width: 100%;
  padding: 120px 0;
}

.promo__text {
  display: flex;
  flex-direction: column;
  color: $white;
  background-color: $coral;
  padding: 87px 78px;
  width: fit-content;
}

.promo__top {
  display: flex;

  h2 {
    font-family: $ff-bebas;
    letter-spacing: 3px;
    font-size: 90px;
    line-height: 90px;
    width: min-content;
    margin: 0 45px 0 0;
  }
}

.promo__info {
  h3 {
    display: block;
    font-family: $ff-regular;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
  }

  span {
    font-family: $ff-bold;
    font-size: 40px;
    line-height: 60px;
  }

  p {
    font-family: $ff-regular;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
  }
}

.promo__date {
  margin-bottom: 15px;

  h3 {
    margin: 0 0 12px;
  }

  span {
    margin-right: 5px;
  }

  div {
    display: flex;
    align-items: center;
    width: min-content;
    border-top: 1px solid $white;
  }
}

.promo__time {
  h3 {
    margin: 0 0 5px;
  }

  span {
    border-top: 1px solid $white;
  }
}

.promo__bottom {
  p {
    display: block;
    font-family: $ff-regular;
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 30px;
  }

  a {
    display: block;
    font-size: 12px;
    font-family: $ff-bold;
    line-height: 12px;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    padding: 25px;
    border: 4px solid $white;
  }
}
