.registration {
  color: $white;
  padding: 70px 170px 64px 0;

  div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 100%;
    margin-bottom: 28px;
  }

  input {
    width: 100%;
    font-family: $ff-regular;
    font-size: 14px;
    line-height: 16px;
    color: $white;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #74819c;
    padding: 3px 0 4px;

    &::placeholder {
      font-family: $ff-regular;
      font-size: 14px;
      line-height: 16px;
      color: $white;
    }
  }

  button {
    width: 100%;
    font-family: $ff-bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.7px;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    border: 3px solid $white;
    background-color: transparent;
    cursor: pointer;
    padding: 18px 18px 16px;

    &:hover,
    &:focus {
      background-color: $white;
      border-image: $gradient;
      border-image-slice: 1;
      color: $main-blue;
    }

    &:active {
      background-color: $white;
      border-image: $gradient;
      border-image-slice: 1;
      color: $main-blue;
      opacity: 0.6;
    }
  }
}

@include vp-1200 {
  .registration {
    background-color: $main-blue;
    padding: 67px 163px 68px 133px;

    div {
      gap: 60px;
      margin-bottom: 26px;
    }

    input {
      padding: 3px 0 7px;
    }
  }
}

@include vp-768 {
  .registration {
    padding: 70px 15px;

    div {
      display: flex;
      flex-direction: column;
    }
  }
}
