.reviews {
  padding-bottom: 120px;

  h2 {
    font-family: $ff-bebas;
    font-size: 49px;
    color: $main-blue;
    letter-spacing: 1.5px;
    line-height: 39px;
    margin: 0 0 60px;
    text-align: center;
  }
}

.reviews__wrapper {
  position: relative;
  width: 560px;
  margin: 0 auto;
}

.reviews__slider {
  width: 100%;
  background-color: $review-blue;

  h3 {
    font-family: $ff-bold;
    font-size: 20px;
    line-height: 15px;
    margin: 0 0 15px;
  }

  p {
    font-family: $ff-regular;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.reviews__slide {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 35px auto;
  gap: 0 28px;
  color: $white;
  padding: 62px 62px 57px;
}

.reviews__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 2;
}

.reviews__slider-button {
  position: absolute;
  cursor: pointer;
  top: 22px;
  width: 50px;
  height: 100%;

  &::after {
    content: "";
    background: no-repeat center url("../img/arrow.svg");
    width: 100%;
    height: 100%;
  }

  &--prev {
    left: -73px;
  }

  &--next {
    right: -73px;

    &::after {
      transform: scale(-1, 1);
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@include vp-1200 {
  .reviews {
    padding-bottom: 100px;

    h2 {
      font-size: 42px;
      line-height: 40px;
      margin-bottom: 43px;
    }
  }

  .reviews__wrapper {
    width: calc(83% + 3px);
  }

  .reviews__slide {
    padding: 62px 65px 57px;
  }
}

@include vp-768 {
  .reviews {
    padding-top: 0;
    padding-bottom: 70px;

    h2 {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 1.2px;
      margin-bottom: 45px;
    }
  }

  .reviews__wrapper {
    width: calc(80% - 6px);
  }

  .reviews__slide {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 16px 15px;
    padding: 40px 25px 35px;
    text-align: center;

    h3 {
      line-height: 26px;
      text-align: left;
      margin: auto 0;
    }

    p {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }

  .reviews__avatar {
    width: 68px;
    height: 68px;
    margin-left: auto;
  }

  .reviews__slider-button {
    width: 30px;

    &::after {
      background-size: 12px;
    }

    &--prev {
      left: -41px;
    }

    &--next {
      right: -41px;
    }
  }
}
