.subscript {
  position: relative;
  background-color: $grey;
  color: $main-blue;
  padding-top: 114px;
  padding-bottom: 120px;
  text-align: center;
  overflow-x: hidden;

  &::after {
    content: "";
    position: absolute;
    bottom: -95px;
    right: -105px;
    width: 321px;
    height: 384px;
    transform: rotate(150deg);
    background: no-repeat url("../img/weight_plates.png") transparent;
    background-size: contain;
    z-index: 0;
  }

  h2 {
    font-family: $ff-bebas;
    font-size: 49px;
    line-height: 49px;
    text-transform: uppercase;
    margin: 0 0 50px;
    letter-spacing: 2px;
  }
}

.subscript__tabs {
  position: relative;
  z-index: 1;
  outline: 1px solid $blue;
}

.subscript__nav {
  display: flex;
  gap: 45px;
  width: fit-content;
  margin: 0 auto 38px;
  padding-bottom: 6px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
}

.subscript__tab {
  position: relative;
  font-family: $ff-regular;
  font-size: 20px;
  line-height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: $main-blue;
  padding: 0 0 2px;

  &--active {
    cursor: default;
    color: $main-blue;
  }

  &--active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $coral;
    top: 38px;
    left: 0;
  }

  &:not(.subscript__tab--active):hover {
    background-color: $coral;
  }

  &:not(.subscript__tab--active):focus {
    background-color: $coral;
  }
}

.subscript__pane {
  display: none;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    box-sizing: border-box;
    background-color: $white;
    color: $main-blue;
    outline: 2px solid $coral;
    padding: 68px;
  }

  h3 {
    font-family: $ff-bold;
    font-size: 26px;
    line-height: 40px;
    margin: 0 0 20px;
  }

  span {
    font-family: $ff-regular;
    font-size: 16px;
    line-height: 24px;
  }

  p {
    position: relative;
    font-family: $ff-bold;
    font-size: 60px;
    line-height: 90px;
    color: $blue;
    margin: 0;
    padding-right: 42px;
  }

  a {
    display: block;
    font-family: $ff-bold;
    font-size: 12px;
    line-height: 14px;
    color: $main-blue;
    box-sizing: border-box;
    min-width: 206px;
    text-align: center;
    text-transform: uppercase;
    padding: 27px;
    border: 2px solid $main-blue;
  }

  li:hover {
    border: 7px solid $white;
    border-image: $gradient;
    border-image-slice: 1;
    padding: 61px;

    a {
      background: $button-gradient;
      color: $white;
      border: none;
      padding: 29px;
    }
  }
}

.subscript__pane--show {
  display: block;
}
