.footer {
  background-color: $footer-blue;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 39px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: $white;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.footer__navigation {
  display: flex;

  li:first-child {
    display: none;
  }

  a {
    display: block;
    font-family: $ff-regular;
    font-size: 14px;
    line-height: 16px;
    padding: 18px 20px;
  }
}

.footer__social {
  display: flex;

  a {
    display: block;
    padding: 5px;
  }
}

@include vp-1200 {
  .footer__wrapper {
    padding-top: 39px;
    padding-bottom: 39px;
  }

  .footer__logo {
    width: 82px;
    height: 18px;
  }

  .footer__navigation {
    a {
      padding: 14px 15px;
    }
  }
}

@include vp-768 {
  .footer__wrapper {
    padding-top: 39px;
    padding-bottom: 39px;
    flex-direction: column;
    text-align: left;
    display: block;
  }

  .footer__logo {
    display: none;
  }

  .footer__navigation {
    flex-direction: column;
    flex-wrap: wrap;
    height: 110px;

    a {
      padding: 0 15px 20px 0;
    }

    li:first-child {
      display: block;

      img {
        width: 68px;
        height: 15px;
      }
    }
  }
}
