body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
}

.header,
.footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.video-plays {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
