@import '../../node_modules/swiper/swiper-bundle.min';
@import "vendor/normalize";
@import "variables";
@import "mixins";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";
@import "header/header";
@import "main/gym";
@import "main/subscript";
@import "main/promo";
@import "main/coaches";
@import "main/advantages";
@import "main/discounts";
