$grey: #f8f9fc;
$white: #ffffff;
$coral: #ed0233;
$blue: #103aae;
$main-blue: #102654;
$review-blue: #1c3374;
$dirt-blue: #495A7D;
$footer-blue: #030a1a;
$conic-gradient:  conic-gradient(from 45deg at 19% 43%, $coral, $blue, $coral);

$gradient: linear-gradient(to top left, $coral, $blue);

$ff-ligth: "Roboto Condensed Light", "Arial", sans-serif;
$ff-regular: "Roboto Condensed Regular", "Arial", sans-serif;
$ff-bold: "Roboto Condensed Bold", "Arial Bold", sans-serif;
$ff-bebas: "Bebas Neue", "Arial Bold", sans-serif;
$ff-bebas-regular: "Bebas Neue Regular", "Arial", sans-serif;

$vp-1200: 1199px;
$vp-768: 767px;
