.header {
  background: conic-gradient(from 45deg at 19% 43%, $coral, $blue, $coral);
  color: $white;
  padding-bottom: 50px;
}

.header__links {
  padding: 30px 0 1px 0;
}

.header__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
    font-family: $ff-bebas;
    font-size: 26px;
    line-height: 20px;
    letter-spacing: 0.8;
    color: $white;
  }
}

.header__main-screen {
  display: flex;
}

.header__main-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 64px;
  margin-top: 120px;
  min-width: 396px;

  p {
    font-family: $ff-bebas;
    text-transform: uppercase;
    font-size: 49px;
    margin: 0;
  }

  h1 {
    font-family: $ff-bebas;
    text-transform: uppercase;
    font-size: 109px;
    text-align: right;
    margin: 0 0 65px;
    max-width: 298px;
  }

  ul {
    position: absolute;
    font-family: $ff-regular;
    font-size: 14px;
    line-height: 21px;
    top: 210px;
    left: 19px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }

  a {
    font-family: $ff-bold;
    color: $white;
    border: 4px solid $white;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    padding: 20px 56px;
    text-transform: uppercase;
  }
}

.header__main-image {
  margin-right: auto;
}

.header__social {
  display: flex;
  align-items: end;
}

.header__social-list {
  margin: 0 -10px 45px;
  padding: 0;
  list-style: none;
  text-transform: uppercase;

  a {
    display: flex;
    justify-content: center;
    font-family: $ff-regular;
    font-size: 12px;
    line-height: 14px;
    color: $white;
    padding: 10px;
  }
}

@include vp-1200 {
  .header {
    padding-bottom: 80px;
  }

  .header__links {
    padding: 40px 0 25px 0;
  }

  .header__list {
    a {
      font-size: 24px;
      line-height: 24px;

      img {
        height: 17px;
        width: auto;
      }
    }
  }

  .header__main-screen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 0 auto;
    max-width: 678px;
  }

  .header__main-info {
    margin: 45px 0 0;
    max-width: 324px;
    min-width: 0;

    p {
      font-size: 34px;
    }

    h1 {
      font-size: 86px;
      margin-bottom: 35px;
    }

    ul {
      left: 0;
      top: 156px;
    }
  }

  .header__main-image {
    margin: 0;
    overflow: hidden;
    height: 390px;

    img {
      object-fit: cover;
      height: 100%;
      width: auto;
    }
  }

  .header__social {
    display: none;
  }
}

@include vp-768 {
  .header {
    background: conic-gradient(from 45deg at 35% 38%, $coral, $blue, $coral);
  }

  .header__links {
    padding: 20px 0;
  }

  .header__list {
    a {
      font-size: 20px;
      line-height: 20px;

      img {
        height: 15px;
        width: auto;
      }
    }
  }

  .header__main-screen {
    display: block;
  }

  .header__main-info {
    width: 100%;
    max-width: 100%;

    a {
      width: 100%;
    }
  }

  .header__main-image {
    display: none;
  }
}
