.header {
  background: $conic-gradient;
  color: $white;
  padding-bottom: 50px;

  .header__navigation {
    padding: 30px 0 1px 0;
  }
  .header__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0;
      padding: 0;
    }

    a {
      display: block;
      font-family: $ff-bebas;
      font-size: 26px;
      line-height: 20px;
      letter-spacing: 0.8;
      color: $white;
    }
  }

  .header__main-screen {
    display: flex;

    .header__main-info {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 64px;
      margin-top: 120px;
      min-width: 396px;

      p {
        font-family: $ff-bebas-regular;
        text-transform: uppercase;
        font-size: 49px;
        margin: 0;
      }

      h1 {
        font-family: $ff-bebas-regular;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 109px;
        text-align: right;
        margin: 0 0 65px;
        max-width: 298px;
      }

      ul {
        position: absolute;
        font-family: $ff-regular;
        font-size: 14px;
        line-height: 21px;
        top: 210px;
        left: 19px;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;
      }

      a {
        font-family: $ff-bold;
        color: $white;
        border: 4px solid $white;
        font-size: 12px;
        line-height: 14px;
        padding: 20px 56px;
        text-transform: uppercase;
      }
    }

    .header__main-image {
      margin-right: auto;
    }

    .header__social {
      display: flex;
      align-items: end;
    }

    .header__social-list {
      margin: 0 -10px 45px;
      padding: 0;
      list-style: none;
      text-transform: uppercase;

      a {
        display: flex;
        justify-content: center;
        font-family: $ff-regular;
        font-size: 12px;
        line-height: 14px;
        color: $white;
        padding: 10px;
      }
    }
  }
}
