.header {
  background: conic-gradient(from 45deg at 19% 43%, $coral, $blue, $coral);
  color: $white;
  padding-bottom: 51px;
}

.header__links {
  padding: 30px 0 1px 0;
}

.header__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
    font-family: $ff-bebas;
    font-size: 26px;
    line-height: 20px;
    letter-spacing: 1.1px;
    color: $white;

    &:hover {
      color: $blue;
    }

    &:active {
      color: $blue;
      opacity: 0.6;
    }
  }
}

.header__main-screen {
  display: flex;
}

.header__main-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 64px;
  margin-top: 116px;
  min-width: 396px;

  p {
    font-family: $ff-bebas;
    text-transform: uppercase;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 1.7px;
    margin: 0 0 6px;
  }

  h1 {
    font-family: $ff-bebas;
    text-transform: uppercase;
    font-size: 109px;
    line-height: 109px;
    letter-spacing: 4px;
    text-align: right;
    margin: 0 0 63px;
    max-width: 298px;
    -webkit-text-stroke: 3px;
  }

  ul {
    position: absolute;
    font-family: $ff-regular;
    font-size: 14px;
    line-height: 21px;
    top: 189px;
    right: 264px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }

  a {
    font-family: $ff-bold;
    color: $white;
    border: 4px solid $white;
    text-align: center;
    letter-spacing: 0.8px;
    font-size: 12px;
    min-width: 233px;
    line-height: 14px;
    padding: 20px;
    text-transform: uppercase;

    &:hover {
      color: $blue;
      background-color: $white;
      border-image: $button-gradient;
      border-image-slice: 1;
    }

    &:active {
      color: $blue;
      background-color: $white;
      border-image: $button-gradient;
      border-image-slice: 1;
      opacity: 0.6;
    }
  }
}

.header__main-image {
  margin-right: auto;
}

.header__social {
  display: flex;
  align-items: end;
}

.header__social-list {
  margin: 0 -10px 31px;
  padding: 0;
  list-style: none;
  text-transform: uppercase;

  a {
    display: flex;
    justify-content: center;
    font-family: $ff-regular;
    font-size: 12px;
    line-height: 14px;
    color: $white;
    padding: 10px;

    &:hover {
      color: $blue;
    }

    &:active {
      color: $blue;
      opacity: 0.6;
    }
  }
}

@include vp-1200 {
  .header {
    padding-bottom: 82px;
  }

  .header__links {
    padding: 38px 0 20px 0;
  }

  .header__list {
    a {
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 0.7px;

      img {
        height: 18px;
        width: auto;
        margin-top: 3px;
      }
    }
  }

  .header__main-screen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 0 auto;
    max-width: 678px;
  }

  .header__main-info {
    margin: 54px 0 0;
    max-width: 324px;
    min-width: 0;

    p {
      font-size: 34px;
      line-height: 34px;
      letter-spacing: 1px;
      margin-bottom: 1px;
    }

    h1 {
      font-size: 86px;
      line-height: 86px;
      margin-bottom: 45px;
      letter-spacing: 3px;
      -webkit-text-stroke: 2px;
    }

    ul {
      top: 132px;
      right: 211px;
    }

    a {
      min-width: 185px;
    }
  }

  .header__main-image {
    margin: 0;
    overflow: hidden;
    height: 390px;

    img {
      object-fit: cover;
      height: 102%;
      width: auto;
    }
  }

  .header__social {
    display: none;
  }
}

@include vp-768 {
  .header {
    background: conic-gradient(from 45deg at 35% 38%, $coral, $blue, $coral);
    padding-bottom: 79px;
  }

  .header__links {
    padding: 18px 0;
  }

  .header__list {
    a {
      font-size: 20px;
      line-height: 20px;

      img {
        height: 15px;
        width: auto;
      }
    }
  }

  .header__main-screen {
    display: block;
    max-width: none;
  }

  .header__main-info {
    width: 100%;
    max-width: 100%;
    margin-top: 56px;

    p {
      font-size: 28px;
      line-height: 28px;
      max-width: 290px;
      margin-bottom: 8px;
    }

    h1 {
      font-size: 78px;
      line-height: 78px;
      max-width: 290px;
      margin-bottom: 46px;
    }

    ul {
      top: 121px;
      right: 177px;
    }

    a {
      width: 100%;
    }
  }

  .header__main-image {
    display: none;
  }
}
